---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.jpeg" />
		<title>Täsel - Negocios Inmobiliarios</title>
		<meta name="description" content="Inmobiliaria familiar con más de 5 años de experiencia. Encuentra tu hogar ideal con la confianza y profesionalismo que nos caracteriza." />
	</head>
	<body class="min-h-screen bg-background">
		<slot />
	</body>
</html>


