---
import { cn } from '../../lib/utils';

export interface Props {
  icon?: any;
  text: string;
  className?: string;
}

---

<button
  class={cn("inline-flex items-center justify-center text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:opacity-50 disabled:pointer-events-none ring-offset-background h-11 px-8 rounded-md bg-secondary text-secondary-foreground hover:bg-secondary/80 focus-visible:ring-secondary/80", Astro.props.className)}
>
  {Astro.props.icon ? <Astro.props.icon class="h-4 w-4 mr-2" /> : null}
  {Astro.props.text}
</button>
